---
layout: layout.liquid
title: 11ty Boilerplate
---

<section>
<div class ="content">
    <ol type="1"> 
        <li> 
            <div class=""listitem"">           
                <strong>Airfoil</strong>
                <span class="url">(ciechanow.ski)</span>
                <span class="detail">1148 points by todsacerdoti 4 hours ago | hide | 115 comments</span>
            </div> 
        </li>
        <li> 
            <div class=""listitem"">           
                <strong>Amazon lobbyists to be banned from European parliament</strong>
                <span class="url">(uni-europa.org)</span>
                <span class="detail">42 points by anigbrowl 16 minutes ago | hide | 8 comments</span>
            </div> 
        </li>
        <li> 
            <div class=""listitem"">           
                <strong>SuperTux</strong>
                <span class="url">(github.com/supertux)</span>
                <span class="detail">61 points by floriangosse 1 hour ago | hide | 13 comments</span>
            </div> 
        </li>
        <li> 
            <div class=""listitem"">           
                <strong>Pure Programming Language</strong>
                <span class="url">(agraef.github.io)</span>
                <span class="detail">56 points by tosh 2 hours ago | hide | 4 comments</span>
            </div> 
        </li>
        <li> 
            <div class=""listitem"">           
                <strong>Testing the F-35C Tailhook</strong>
                <span class="url">(the-engi-nerd.github.io)</span>
                <span class="detail">239 points by sklargh 5 hours ago | hide | 101 comments</span>
            </div> 
        </li>
        <li> 
            <div class=""listitem"">           
                <strong>Ant Geopolitics</strong>
                <span class="url">(aeon.co)</span>
                <span class="detail">196 points by romaintailhurat 7 hours ago | hide | 61 comments</span>
            </div> 
        </li>
        <li> 
            <div class=""listitem"">           
                <strong>Tesorio (YC S15) Is Hiring a Head of Infrastructure (100% Remote)</strong>
                <span class="url">(tesorio.com)</span>
                <span class="detail">21 minutes ago | hide</span>
            </div> 
        </li>
        <li> 
            <div class=""listitem"">           
                <strong>The /unblock API from Browserless: dodging bot detection as a service</strong>
                <span class="url">(browserless.io)</span>
                <span class="detail">75 points by keepamovin 3 hours ago | hide | 65 comments</span>
            </div> 
        </li>
        <li> 
            <div class=""listitem"">           
                <strong>I turned my open-source project into a full-time business</strong>
                <span class="url">(emailengine.app)</span>
                <span class="detail">472 points by andris9 11 hours ago | hide | 185 comments</span>
            </div> 
        </li>
        <li> 
            <div class=""listitem"">           
                <strong>SpaceX discloses cause of Starship anomalies as it clears an FAA hurdle</strong>
                <span class="url">(arstechnica.com)</span>
                <span class="detail">164 points by rbanffy 8 hours ago | hide | 188 comments</span>
            </div> 
        </li>
        <li> 
            <div class=""listitem"">           
                <strong>Blazer: Business intelligence made simple</strong>
                <span class="url">(github.com/ankane)</span>
                <span class="detail">124 points by tosh 7 hours ago | hide | 27 comments</span>
            </div> 
        </li>
        <li> 
            <div class=""listitem"">           
                <strong>Apple cancels work on electric car, shifts team to generative AI</strong>
                <span class="url">(bloomberg.com)</span>
                <span class="detail">405 points by coloneltcb 2 hours ago | hide | 416 comments</span>
            </div> 
        </li>
        <li> 
            <div class=""listitem"">           
                <strong>Synthetic data generation for tabular data</strong>
                <span class="url">(github.com/sdv-dev)</span>
                <span class="detail">20 points by skadamat 2 hours ago | hide | 1 comment</span>
            </div> 
        </li>
        <li> 
            <div class=""listitem"">           
                <strong>Show HN: Mountaineer - Webapps in Python and React</strong>
                <span class="url">(github.com/piercefreeman)</span>
                <span class="detail">82 points by icyfox 6 hours ago | hide | 33 comments</span>
            </div> 
        </li>
        <li> 
            <div class=""listitem"">           
                <strong>Show HN: I built an open-source data copy tool called ingestr</strong>
                <span class="url">(github.com/bruin-data)</span>
                <span class="detail">78 points by karakanb 6 hours ago | hide | 27 comments</span>
            </div> 
        </li>
        <li> 
            <div class=""listitem"">           
                <strong>Dracula's Biggest Mistake</strong>
                <span class="url">(ayjay.org)</span>
                <span class="detail">20 points by chesterfield 2 hours ago | hide | 24 comments</span>
            </div> 
        </li>
        <li> 
            <div class=""listitem"">           
                <strong>Consider the Pawpaw</strong>
                <span class="url">(beltmag.com)</span>
                <span class="detail">55 points by PaulHoule 7 hours ago | hide | 48 comments</span>
            </div> 
        </li>
        <li> 
            <div class=""listitem"">           
                <strong>Why time seems to pass faster as we age</strong>
                <span class="url">(invertedpassion.com)</span>
                <span class="detail">215 points by paraschopra 11 hours ago | hide | 138 comments</span>
            </div> 
        </li>
        <li> 
            <div class=""listitem"">           
                <strong>The Second Golden Age of Emacs</strong>
                <span class="url">(batsov.com)</span>
                <span class="detail">78 points by ossusermivami 9 hours ago | hide | 39 comments</span>
            </div> 
        </li>
        <li> 
            <div class=""listitem"">           
                <strong>Social Media First Amendment Cases</strong>
                <span class="url">(lawfaremedia.org)</span>
                <span class="detail">55 points by Mjadams 7 hours ago | hide | 140 comments</span>
            </div> 
        </li>
    </ol>
</div>
</section>
