---
layout: layout.liquid
title: 11ty Boilerplate
---

<section class ="content">
    <ol type="1"> 
        <li> <div class="1">
            <li class="maintext"> Airfoil </li>
            <li class="url"> (ciechanow.ski) </li>
            <li class="detail">1148 points by todsacerdoti 4 hours ago | hide | 115 comments</li>
        </div> </li>
        <li class="2">
            <li class="maintext"> Airfoil </li>
            <li class="url"> (ciechanow.ski) </li>
            <li class="detail">1148 points by todsacerdoti 4 hours ago | hide | 115 comments</li>
        </li>
    </ol>

</section>
