body {
    font-family: Helvetica, sans-serif;
    color: #000000;
    background: #2D3142;
    padding: 0 ;
    text-align: left;
}

nav {
    display:flex;
    margin: 0;    
    background: #ff7300;
    justify-content: start;
    align-items: center;
}

nav .brand {
    display: flex;
    align-items: center;
}

nav img {
    width: 50px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}

nav .brand h1 {
    font-size: 2em;
    letter-spacing: -2px;
    margin: 0;
}  

nav ul {
    display: flex;
    justify-content: center;
    margin:0;
}

nav ul li {
    list-style-type: none;
    margin-right: 12px;

}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #000000;
    text-decoration: none;
    font-size: 1.2em;
}

nav .login {
    display: flex;
    margin-left: auto; 
    margin-right: 10px;
}
